In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df=pd.read_csv("pima-indians-diabetes-2.csv")

In [23]:
df.shape

(768, 9)

In [24]:
df.isnull().sum()

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [25]:
df.sample()

     Preg  Plas  Pres  skin  test  mass   pedi  age  class
457     5    86    68    28    71  30.2  0.364   24      0

In [26]:
df.sample(10)

     Preg  Plas  Pres  skin  test  mass   pedi  age  class
718     1   108    60    46   178  35.5  0.415   24      0
697     0    99     0     0     0  25.0  0.253   22      0
717    10    94    72    18     0  23.1  0.595   56      0
588     3   176    86    27   156  33.3  1.154   52      1
440     0   189   104    25     0  34.3  0.435   41      1
518    13    76    60     0     0  32.8  0.180   41      0
460     9   120    72    22    56  20.8  0.733   48      0
669     9   154    78    30   100  30.9  0.164   45      0
700     2   122    76    27   200  35.9  0.483   26      0
474     4   114    64     0     0  28.9  0.126   24      0

In [27]:
mean1=df["test"].mean()
mean1

79.79947916666667

In [28]:
df["test"].replace(0,mean1,inplace=True)

In [29]:
df.head(25)

    Preg  Plas  Pres  skin        test  mass   pedi  age  class
0      6   148    72    35   79.799479  33.6  0.627   50      1
1      1    85    66    29   79.799479  26.6  0.351   31      0
2      8   183    64     0   79.799479  23.3  0.672   32      1
3      1    89    66    23   94.000000  28.1  0.167   21      0
4      0   137    40    35  168.000000  43.1  2.288   33      1
5      5   116    74     0   79.799479  25.6  0.201   30      0
6      3    78    50    32   88.000000  31.0  0.248   26      1
7     10   115     0     0   79.799479  35.3  0.134   29      0
8      2   197    70    45  543.000000  30.5  0.158   53      1
9      8   125    96     0   79.799479   0.0  0.232   54      1
10     4   110    92     0   79.799479  37.6  0.191   30      0
11    10   168    74     0   79.799479  38.0  0.537   34      1
12    10   139    80     0   79.799479  27.1  1.441   57      0
13     1   189    60    23  846.000000  30.1  0.398   59      1
14     5   166    72    19  175.000000  25.8  0.587   51      1
15     7   100     0     0   79.799479  30.0  0.484   32      1
16     0   118    84    47  230.000000  45.8  0.551   31      1
17     7   107    74     0   79.799479  29.6  0.254   31      1
18     1   103    30    38   83.000000  43.3  0.183   33      0
19     1   115    70    30   96.000000  34.6  0.529   32      1
20     3   126    88    41  235.000000  39.3  0.704   27      0
21     8    99    84     0   79.799479  35.4  0.388   50      0
22     7   196    90     0   79.799479  39.8  0.451   41      1
23     9   119    80    35   79.799479  29.0  0.263   29      1
24    11   143    94    33  146.000000  36.6  0.254   51      1

In [30]:
mean2=df["skin"].mean()
mean2

20.536458333333332

In [31]:
df["skin"].replace(0,mean2,inplace=True)

In [32]:
mean3=df["mass"].mean()
mean3

31.992578124999977

In [33]:
df["mass"].replace(0,mean3,inplace=True)

In [34]:
mean4=df["Pres"].mean()
mean4

69.10546875

In [35]:
df["Pres"].replace(0,mean4,inplace=True)

In [36]:
df.head(25)

    Preg  Plas       Pres       skin        test       mass   pedi  age  class
0      6   148  72.000000  35.000000   79.799479  33.600000  0.627   50      1
1      1    85  66.000000  29.000000   79.799479  26.600000  0.351   31      0
2      8   183  64.000000  20.536458   79.799479  23.300000  0.672   32      1
3      1    89  66.000000  23.000000   94.000000  28.100000  0.167   21      0
4      0   137  40.000000  35.000000  168.000000  43.100000  2.288   33      1
5      5   116  74.000000  20.536458   79.799479  25.600000  0.201   30      0
6      3    78  50.000000  32.000000   88.000000  31.000000  0.248   26      1
7     10   115  69.105469  20.536458   79.799479  35.300000  0.134   29      0
8      2   197  70.000000  45.000000  543.000000  30.500000  0.158   53      1
9      8   125  96.000000  20.536458   79.799479  31.992578  0.232   54      1
10     4   110  92.000000  20.536458   79.799479  37.600000  0.191   30      0
11    10   168  74.000000  20.536458   79.799479  38.000000  0.537   34      1
12    10   139  80.000000  20.536458   79.799479  27.100000  1.441   57      0
13     1   189  60.000000  23.000000  846.000000  30.100000  0.398   59      1
14     5   166  72.000000  19.000000  175.000000  25.800000  0.587   51      1
15     7   100  69.105469  20.536458   79.799479  30.000000  0.484   32      1
16     0   118  84.000000  47.000000  230.000000  45.800000  0.551   31      1
17     7   107  74.000000  20.536458   79.799479  29.600000  0.254   31      1
18     1   103  30.000000  38.000000   83.000000  43.300000  0.183   33      0
19     1   115  70.000000  30.000000   96.000000  34.600000  0.529   32      1
20     3   126  88.000000  41.000000  235.000000  39.300000  0.704   27      0
21     8    99  84.000000  20.536458   79.799479  35.400000  0.388   50      0
22     7   196  90.000000  20.536458   79.799479  39.800000  0.451   41      1
23     9   119  80.000000  35.000000   79.799479  29.000000  0.263   29      1
24    11   143  94.000000  33.000000  146.000000  36.600000  0.254   51      1

In [ ]:
### Check For Duplicates